In [13]:
# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [14]:
# 1. Find the length of the set it_companies
len(it_companies)

7

In [15]:
# 2. Add 'Twitter' to it_companies
it_companies.add('Twitter')
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter'}

In [19]:
# 3. Insert multiple IT companies at once to the set it_companies
new_it_companies = ['arewaIt', 'msmMajeTech', 'ArewaDSTech', 'SOftTech']
updated_it_companies = it_companies.union(new_it_companies)
print(updated_it_companies)

{'Twitter', 'Amazon', 'arewaIt', 'Apple', 'Facebook', 'ArewaDSTech', 'SOftTech', 'IBM', 'Oracle', 'msmMajeTech', 'Google', 'Microsoft', 'Tesla'}

In [20]:
# 4. Remove one of the companies from the set it_companies
pop_item = it_companies.pop()
pop_item

'Amazon'

In [21]:
# 5. What is the difference between remove and discard
# remove throws an error when the item is not found but discard doesn't.

### Exercises: Level 2

In [23]:
# 1. Join A and B
joined_AB = A.union(B)
joined_AB

{19, 20, 22, 24, 25, 26, 27, 28}

In [24]:
# 2. Find A intersection B
A_inter_B = A.intersection(B)
A_inter_B

{19, 20, 22, 24, 25, 26}

In [25]:
# 3. Is A subset of B
A_subset_B = A.issubset(B)
A_subset_B

True

In [26]:
# 4. Are A and B disjoint sets
A_dis_B = A.isdisjoint(B)
A_dis_B

False

In [28]:
# 5. Join A with B and B with A
A_with_B = A.union(B)
print(A_with_B)
B_with_A = B.union(A)
print(B_with_A)

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

In [29]:
# 6.  What is the symmetric difference between A and B
A_sym_diff_B = A.symmetric_difference(B)
A_sym_diff_B

set()

In [30]:
# 7. Delete the sets completely
del A
del B

### Exercises: Level 3

In [34]:
# 1. Convert the ages to a set and compare the length of the list and the set, which one is bigger?
age_set = set(age)
age_set

{19, 22, 24, 25, 26}

In [35]:
# 1. Explain the difference between the following data types: string, list, tuple and set
# string is a combination letters usually under single or double quotes, list is a set of ordered list that are mutable, tule is a set of ordered items that are not mutable and set is a collection of unique, unordered, unindexed set of items

In [39]:
words_by_a_teacher = 'I am a teacher and I love to inspire and teach people'
split_words = words_by_a_teacher.split()
#split_words.unique()
split_words

['I',
 'am',
 'a',
 'teacher',
 'and',
 'I',
 'love',
 'to',
 'inspire',
 'and',
 'teach',
 'people']

In [42]:
unique = []
for word in split_words:
    if word not in unique:
        unique.append(word)
print(unique)
print(len(unique))

['I', 'am', 'a', 'teacher', 'and', 'love', 'to', 'inspire', 'teach', 'people']
10