In [73]:
# 1. Declare an empty list
lst = []
lst = list()

In [74]:
# 2. Declare a list with more than 5 items
lsts = ['it', 'interesting', 'learning', 'python', 1, 2, 3, 4, 'and', 5, 'days', 'now']

In [75]:
# 3. Find the length of your list
len(lsts)

12

In [76]:
# 4. Get the first item, the middle item and the last item of the list
print(len(lsts))
print(lsts[0])
print(lsts[6])
print(lsts[7])
print(lsts[-1])

12
it
3
4
now

In [77]:
# 5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
mixed_data_types = ['musa', '30', '17', 'married', 'potiskum']

In [78]:
# 6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazone']

In [79]:
# 7. Print the list using print()
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazone']

In [80]:
# 8. Print the number of companies in the list
print(len(it_companies))

7

In [81]:
# 9. Print the first, middle and last company
print(it_companies[0])
print(it_companies[3])
print(it_companies[-1])

Facebook
Apple
Amazone

In [82]:
# 10. Print the list after modifying one of the companies
it_companies[2] = 'Twitter'
print(it_companies)

['Facebook', 'Google', 'Twitter', 'Apple', 'IBM', 'Oracle', 'Amazone']

In [83]:
# 11. Add an IT company to it_companies
it_companies.append('Tesla')
it_companies

['Facebook', 'Google', 'Twitter', 'Apple', 'IBM', 'Oracle', 'Amazone', 'Tesla']

In [84]:
# 12. Insert an IT company in the middle of the companies list
it_companies.insert(3, 'Microsoft') 
it_companies

['Facebook',
 'Google',
 'Twitter',
 'Microsoft',
 'Apple',
 'IBM',
 'Oracle',
 'Amazone',
 'Tesla']

In [85]:
# 13. Change one of the it_companies names to uppercase (IBM excluded!)
x = it_companies[2]
x.upper()

'TWITTER'

In [86]:
# 14. Join the it_companies with a string '#;  '
Hash = ['#;']
y = it_companies + Hash
y

['Facebook',
 'Google',
 'Twitter',
 'Microsoft',
 'Apple',
 'IBM',
 'Oracle',
 'Amazone',
 'Tesla',
 '#;']

In [87]:
# 15. Check if a certain company exists in the it_companies list.
itm_exist = 'Apple' in it_companies
itm_exist

True

In [88]:
# 16. Sort the list using sort() method
it_companies.sort()

In [89]:
# 17. Reverse the list in descending order using reverse() method
it_companies.sort(reverse=True)

In [100]:
# 18. Slice out the first 3 companies from the list
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazone']
print(it_companies)
it_companies[0 : 3]

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazone']

['Facebook', 'Google', 'Microsoft']

In [101]:
# 19. Slice out the last 3 companies from the list
print(it_companies)
it_companies[0 : 3]

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazone']

['Facebook', 'Google', 'Microsoft']

In [103]:
# 20. Slice out the middle IT company or companies from the list
print(len(it_companies))
print(it_companies)
it_companies[5]

7
['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazone']

'Oracle'

In [104]:
# 21. Remove the first IT company from the list
print(it_companies)
it_companies.pop(0)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazone']

'Facebook'

In [106]:
# 22. Remove the middle IT company or companies from the list
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazone']
print(it_companies)
it_companies.pop(3)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazone']

'Apple'

In [107]:
# 23. Remove the last IT company from the list
it_companies.pop(-1)

'Amazone'

In [111]:
# 24. Remove all IT companies from the list
it_companies.clear()
it_companies

[]

In [112]:
# 25. Destroy the IT companies list

del it_companies

In [119]:
# 26. Join the following lists:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
combined_lst = front_end.extend(back_end)

In [124]:
full_stack = front_end + back_end
full_stack.insert(5, 'Python')
full_stack.insert(6, 'SQL')
full_stack

['HTML',
 'CSS',
 'JS',
 'React',
 'Redux',
 'Python',
 'SQL',
 'Node',
 'Express',
 'MongoDB',
 'Node',
 'Express',
 'MongoDB']

# Exercises: Level 2

In [125]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [126]:
ages.sort()

In [129]:
print(min(ages))
print(max(ages))

19
26

In [133]:
mid = len(ages) // 2
median = (ages[mid] + ages[~mid]) / 2

print("Median of list is : " + str(median))

Median of list is : 24.0

In [135]:
Avg = sum(ages)/len(ages)
Avg

22.8

In [138]:
age_range = max(ages) - min(ages)
age_range

7

In [141]:
# Compare the value of (min - average) and (max - average), use abs() method

cmpr1 = abs(min(ages)) ==  abs(Avg)
print(cmpr1)
cmpr2 = abs(max(ages)) >= abs(Avg)
print(cmpr2)

False
True

In [143]:
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]

In [157]:
countries_length = len(countries)
print(countries_length)
mid = countries_length/2
print(mid)
mid_countries = countries[96 : 97]
print(mid_country)

193
96.5
Liberia

In [155]:
countries_first = countries[0 : 96]
countries_second = countries[97 : 193]
print(countries_first)
print(countries_second)
print(len(countries_first))
print(len(countries_second))

['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon']
['Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']
96
96

In [160]:
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
countries_first_three = countries[0 : 3]
scandic_countries = countries[3:]
print(countries_first_three)
print(scandic_countries)

['China', 'Russia', 'USA']
['Finland', 'Sweden', 'Norway', 'Denmark']