In [73]:
# 1. Declare an empty list
lst = []
lst = list()

In [74]:
# 2. Declare a list with more than 5 items
lsts = ['it', 'interesting', 'learning', 'python', 1, 2, 3, 4, 'and', 5, 'days', 'now']

In [75]:
# 3. Find the length of your list
len(lsts)

12

In [76]:
# 4. Get the first item, the middle item and the last item of the list
print(len(lsts))
print(lsts[0])
print(lsts[6])
print(lsts[7])
print(lsts[-1])

12
it
3
4
now

In [77]:
# 5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
mixed_data_types = ['musa', '30', '17', 'married', 'potiskum']

In [78]:
# 6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazone']

In [79]:
# 7. Print the list using print()
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazone']

In [80]:
# 8. Print the number of companies in the list
print(len(it_companies))

7

In [81]:
# 9. Print the first, middle and last company
print(it_companies[0])
print(it_companies[3])
print(it_companies[-1])

Facebook
Apple
Amazone

In [82]:
# 10. Print the list after modifying one of the companies
it_companies[2] = 'Twitter'
print(it_companies)

['Facebook', 'Google', 'Twitter', 'Apple', 'IBM', 'Oracle', 'Amazone']

In [83]:
# 11. Add an IT company to it_companies
it_companies.append('Tesla')
it_companies

['Facebook', 'Google', 'Twitter', 'Apple', 'IBM', 'Oracle', 'Amazone', 'Tesla']

In [84]:
# 12. Insert an IT company in the middle of the companies list
it_companies.insert(3, 'Microsoft') 
it_companies

['Facebook',
 'Google',
 'Twitter',
 'Microsoft',
 'Apple',
 'IBM',
 'Oracle',
 'Amazone',
 'Tesla']

In [85]:
# 13. Change one of the it_companies names to uppercase (IBM excluded!)
x = it_companies[2]
x.upper()

'TWITTER'

In [86]:
# 14. Join the it_companies with a string '#;  '
Hash = ['#;']
y = it_companies + Hash
y

['Facebook',
 'Google',
 'Twitter',
 'Microsoft',
 'Apple',
 'IBM',
 'Oracle',
 'Amazone',
 'Tesla',
 '#;']

In [87]:
# 15. Check if a certain company exists in the it_companies list.
itm_exist = 'Apple' in it_companies
itm_exist

True

In [88]:
# 16. Sort the list using sort() method
it_companies.sort()

In [89]:
# 17. Reverse the list in descending order using reverse() method
it_companies.sort(reverse=True)

In [94]:
# 18. Slice out the first 3 companies from the list
print(it_companies)
it_companies[0 : 3]

['Twitter', 'Tesla', 'Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazone']

['Twitter', 'Tesla', 'Oracle']

In [95]:
# 19. Slice out the last 3 companies from the list
print(it_companies)
it_companies[0 : 3]

['Twitter', 'Tesla', 'Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazone']

['Twitter', 'Tesla', 'Oracle']

In [97]:
# 20. Slice out the middle IT company or companies from the list
print(len(it_companies))
print(it_companies)
it_companies[5]

9
['Twitter', 'Tesla', 'Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazone']

'Google'

In [98]:
# 21. Remove the first IT company from the list
it_companies.pop(0)

'Twitter'