In [13]:
# 1. Create an empty tuple
tpl = ()
tpl_empty = tuple()

In [14]:
# 2. Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
tpl_brothers = ('Ahmad', 'Maryam', 'Mohammed', 'Abubakar', 'Amina', 'Adamu')
tpl_sisters = ('Maryam', 'Amina', 'Maimuna', 'Suwaiba')

In [15]:
# 3. Join brothers and sisters tuples and assign it to siblings
tpl_siblings = tpl_brothers + tpl_sisters
print(tpl_siblings)

('Ahmad', 'Maryam', 'Mohammed', 'Abubakar', 'Amina', 'Adamu', 'Maryam', 'Amina', 'Maimuna', 'Suwaiba')

In [16]:
# 4. How many siblings do you have?
len(tpl_siblings)

10

In [17]:
# 5. Modify the siblings tuple and add the name of your father and mother and assign it to family_members
tpl_parents = ('Abubakar', 'Amina')
tpl_family_members = tpl_siblings + tpl_parents
tpl_family_members

('Ahmad',
 'Maryam',
 'Mohammed',
 'Abubakar',
 'Amina',
 'Adamu',
 'Maryam',
 'Amina',
 'Maimuna',
 'Suwaiba',
 'Abubakar',
 'Amina')

### Exercises: Level 2

In [18]:
# 1. Unpack siblings and parents from family_members
siblings =tpl_family_members[ 0 : 10]
parents = tpl_family_members[ -2:]
print(siblings)
print(parents)

('Ahmad', 'Maryam', 'Mohammed', 'Abubakar', 'Amina', 'Adamu', 'Maryam', 'Amina', 'Maimuna', 'Suwaiba')
('Abubakar', 'Amina')

In [19]:
# 1. Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.
fruits = ('mango', 'banana')
vegetables = ('salad', 'green leaf')
animals = ('dog', 'goat')
food_stuff = fruits + vegetables + animals
food_stuff

('mango', 'banana', 'salad', 'green leaf', 'dog', 'goat')

In [20]:
# Change the about food_stuff_tp  tuple to a food_stuff_lt list
food_stuff_lt = list(food_stuff) 
food_stuff_lt

['mango', 'banana', 'salad', 'green leaf', 'dog', 'goat']

In [21]:
#  Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.
len(food_stuff_lt)
food_stuff_lt_md = food_stuff_lt[2:4]
food_stuff_lt_md

['salad', 'green leaf']

In [22]:
# 1. Slice out the first three items and the last three items from food_staff_lt list
food_stuff_lt_f3 = food_stuff_lt[0:3]
food_stuff_lt_l3 = food_stuff_lt[-3:]
print(food_stuff_lt_f3)
print(food_stuff_lt_l3)

['mango', 'banana', 'salad']
['green leaf', 'dog', 'goat']

In [23]:
# Delete the food_staff_tp tuple completely
del food_stuff_lt

In [24]:
 # Check if an item exists in  tuple:
 item_exist = 'mango' in food_stuff_lt
 item_exist

NameError: name 'food_stuff_lt' is not defined

In [ ]:
# - Check if 'Estonia' is a nordic country
# - Check if 'Iceland' is a nordic country
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')
country_exist = 'Estonia' in nordic_countries
country_exist2 = 'Iceland' in nordic_countries
print(country_exist)
print(country_exist2)

False
True